#gnome-dex-button{
    background-color: black;
    border-radius: 25px 0 25px 25px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    border: 0px;
}
#gnome-dex-button:hover{
    background-color: rgb(68, 68, 68);
}
#gnome-dex-button:focus{
    background-color: gray;
}

#gnome-dex{
    width: 400px;
    height: 530px;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.5s;
}
.gnome-dex-hidden{
    width: 0px !important;
    height: 0px !important;
    transition: all 0.5s;
}